﻿/*.item-one.sale {
    border: 1px solid lightcoral !important;
}*/

.catalog-new-subcats .general-titles {
  text-align: center;
}

.cat-new-desc .title {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  padding-bottom: 5px;
}

.cat-new-desc .desc {
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #595959;
  padding-bottom: 10px;
}

.catalogs-items-new .filter {
  border: 5px solid #d7d7d7;
  padding: 15px;
}

.catalogs-items-new .filter select {
  width: 100%;
}

.catalogs-items-new .filter label {
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  line-height: 18px;
  margin-bottom: 10px;
}

.catalogs-items-new .filter .dropdown-menu li:hover {
  background-color: #ACCEFD;
  color: #FFFFFF;
}

.catalogs-items-new .filter .one-filter {
  padding-bottom: 20px;
}

.catalogs-items-new .filter .dropdown-menu li {
  padding-left: 10px;
  overflow: hidden;
}

.catalogs-items-new .filter .dropdown-menu li.disabled:hover {
  color: #777777;
}

.catalogs-items-new .filter .dropdown-menu li.disabled {
  background-color: #d7d7d7;
}

.catalogs-items-new .filter .btn.disabled {
  background-color: #d7d7d7;
}

.catalogs-items-new .filter .btn {
  padding: 5px 15px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.catalogs-items-new .filter .title {
  color: #595959;
  padding-bottom: 15px;
  line-height: 18px;
}

.item-new-one {
  border-top: 1px solid #dddddd;
  padding-top: 33px;
  padding-bottom: 27px;
  padding-right: 0;
}

.catalogs-items-new .filters .btn-group .caret {
  text-align: left;
  display: inline-block;
  float: none;
  margin-top: 0;
  color: #00e086;
}

.catalogs-items-new .filters .btn-group .disabled .caret {
  color: #818181;
}

.catalogs-items-new .filter .caret {
  right: 5px;
  position: absolute;
  top: 12px;
}

.catalogs-items-new .filters .btn-group .btn:not(.dropdown-toggle) {
  width: 100%;
  overflow: hidden;
  border-right: none;
  color: #696969;
}

/*.catalogs-items-new .filters .btn-group .btn.dropdown-toggle {
  width: 20%;
  border-left: none;
}*/

.catalogs-items-new .filter .sale input[type=checkbox] {
  position: relative;
  top:2px;
}

/* Base for label styling */
.catalogs-items-new .filter [type="checkbox"]:not(:checked),
.catalogs-items-new .filter [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.catalogs-items-new .filter [type="checkbox"]:not(:checked) + label,
.catalogs-items-new .filter [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
.catalogs-items-new .filter [type="checkbox"]:not(:checked) + label:before,
.catalogs-items-new .filter [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
.catalogs-items-new .filter [type="checkbox"]:not(:checked) + label:after,
.catalogs-items-new .filter [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: grey;
  transition: all .2s;
}
/* checked mark aspect changes */
.catalogs-items-new .filter [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.catalogs-items-new .filter [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.catalogs-items-new .filter [type="checkbox"]:disabled:not(:checked) + label:before,
.catalogs-items-new .filter [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.catalogs-items-new .filter [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.catalogs-items-new .filter [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.catalogs-items-new .filter [type="checkbox"]:checked:focus + label:before,
.catalogs-items-new .filter [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted lightgrey;
}

/* hover style just for information */
.catalogs-items-new .filter label:hover:before {
  border: 1px solid lightgrey !important;
}


.catalogs-items-new .filter .sale label {
  padding-left: 5px;
}

.catalogs-items-new .filter .reset {
  padding-bottom: 0;
}

.catalogs-items-new .filter .sale {
  margin-top: -10px;
  padding-bottom: 5px;
}

.catalogs-items-new .filter .reset {
  text-align: center;
  color: #1a63cd;
}

.catalogs-items-new .filter .reset span:hover {
  cursor: pointer;
}

.catalogs-items-new .filters .btn-group button:hover,
.catalogs-items-new .filters .btn-group button:focus
{
  outline: none;
  border-color: #d3d3d3 ;
}

.item-new-one div.img {
  text-align: center;
  padding-right: 20px;
}

@media (min-width: 768px){
.item-new-one div.img img {
  max-width: 112px;
  min-width: 112px;
  width: 112px;
  max-height: 350px;
}
}

.item-new-one p.title a {
  color: #0a0a0a;
}

.item-new-one p.title {
  font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.item-new-one .param-name .name {
  background-color: #FFFFFF;
  display: inline;
  padding-right: 3px;
  z-index: 1;
  position: relative;
  top:5px;
  color: #696969;
  font-size: 13.97px;
}

.item-new-one .param-name .dots {
  border-bottom: 1px dotted #696969;
  height: 100%;
  position: absolute;
  width: 100%;
}

.item-new-one .param-value {
  /*overflow: hidden;*/
  margin-top: 5px;
}

.catalogs-items-new div.price {
  padding-top: 45px;
  padding-bottom: 10px;
}

.catalogs-items-new .price-cell .btn-group button.disabled {
  cursor: default;
  border-color: #CCCCCC;
  color: #000000;
  opacity: 1;
}

.catalogs-items-new .price-cell .btn-group button {
  padding: 7px 6px;
}

.catalogs-items-new .price-cell .btn-group {
  /*margin-right: 15px;*/
  margin-right: -7px;
}

.catalogs-items-new span.where {
  line-height: 34px;
  padding: 8px 9px;
  background-color: #fddd0b;
}

.catalogs-items-new .wherebuy a {
  text-decoration: none;
}

.catalogs-items-new span.where:hover {
  background-color: #fee64b;
}

.catalogs-items-new span.where {
  text-decoration: none;
  color: #000000;
}

.catalogs-items-new span.where a:hover {
  text-decoration: underline;
}

.catalogs-items-new .wherebuy {
  margin-left: 18px;
}

.catalogs-items-new .price-cell .price-name {
  line-height: 34px !important;
}

.catalogs-items-new .price-cell {
  margin-left: -18px;
  line-height: 34px !important;
}

.catalogs-items-new .description {
  line-height: 21.96px;
}

.catalogs-items-new .btn-details {
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.catalogs-items-new .btn-details button {
  padding: 5px 50px;
  line-height: 23px;
  border: 1px solid #dddddd;
  margin-left: -10px;
  margin-top: -1px;

  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(239,238,239,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efeeef', GradientType=0 );
}
@media (max-width: 992px){
.catalogs-items-new .btn-details button {
padding-left: 5px ;
padding-right: 5px;
margin: 0;
margin-left: -15px;
}
.catalogs-items-new .price-cell {
  font-size: 12px;
}
}
.catalogs-items-new .btn-details button:hover {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(204,204,204,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0 );
}

.catalogs-items-new .sale-block span {
  background-color: #2eb72e;
  color: #FFFFFF;
  padding: 7px 9px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  top: 2px;
  position: relative;
  margin-left: 12px;
}

.catalogs-items-new .sale-block {
  padding-right: 15px;
  padding-right: 0;
}

.view-one .title {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding-left: 5px;
  padding-bottom: 25px;
}

.view-one .nav li {
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.view-one .nav a {
  color: #000000;
  text-decoration: none;
}

.view-one .nav li a {
  border: 1px solid #dedede;
}

.view-one .nav li:first-child a {
  border-radius: 20px 0 0 20px;
}

.view-one .nav-tabs > li {
  text-align: center;
  margin-left: -1px;
  width: 30%;
}
.view-one .nav-tabs > li:nth-child(2) {
  width: 40%;
}

.view-one .nav-tabs > li > a {
  border-radius: 0;
  margin-right: 0;
  margin-left: -1px;
  padding: 8px 10px;
  width: 100%;
}

.view-one .nav-tabs {
  border: none;
  display: inline-block;
  width: 100%;
}

.view-one .nav li:last-child a {
  border-radius: 0 20px 20px 0;
}

.view-one .nav li a:hover, .view-one .nav li a:focus {
  border: 1px solid #dedede;
}

.view-one .nav li.active a {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(239,238,239,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efeeef', GradientType=0 );
}

.view-one .nav li:not(.active) a:hover {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(239,238,239,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(239,238,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efeeef', GradientType=0 );
}

.view-one .row {
  margin-left: 0;
  padding-left: 10px;
  margin-right: 0;
  color: #696969;
}

.view-one .row .value {
  color: #000000;
}

.all-div {
  padding-top: 25px;
}

.all-div .image img {
  width: 100%;
}
.all-div .image .image {
  text-align: center;
}
@media (min-width: 768px){
.all-div .image .image {
  text-align: center;
  margin-top: 80px;
  margin-left: -15px;
}
}

.all-div .tab-content {
  padding-top: 25px;
}

.all-div .row.gray {
  background-color: #fafafa;
}

.view-one .price-cell {
  padding-top: 30px;
}

.view-one .price-cell .btn-group {
  padding-right: 20px;
}
@media (max-width: 768px){
  .catalog-new-subcats .catalogs-items-new .items-elemets {
    padding: 0;
  }
  .view-one .nav li {
    font-size: 13px;
  }
.view-one .price-cell{
text-align: center;
}
.view-one .price-cell .btn-group {
  float: none;
  padding-left: 20px;
}
}
.view-one .price-cell .number {
  color: #6ab983;
  font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding-left: 10px;
}

.view-one .image .buy {
  text-align: center;
  padding-top: 30px;
  padding-right: 30px;
}

.view-one .image .buy a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.view-one .image .buy span:hover {
  background-color: #ffed75;
}

.view-one .image .buy span {
  padding: 10px 30px;
  background-color: #fddd0b;
}
@media (max-width: 767px){
.view-one .image .buy span {
  padding: 10px 60px;
}
}
@media (min-width: 992px){
.view-one .image .buy span {
  padding: 10px 60px;
}
}
.view-one .price-cell .price-name {
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-left: 15px;
}
@media (min-width: 767px){
@media (max-width: 992px){
.view-one .price-cell .price-name {
  font-size: 14px;
  padding: 0;
}
.view-one .price-cell .number {
  font-size: 14px;
  padding: 0;
  padding-left: 5px;
}
}
}
.view-one .gray-line {
  margin-top: 20px;
  height: 1px;
  background-color: #cccccc;
  margin-bottom: 20px;
}

.view-one .description {
  color: #777777;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.view-one .description strong {
  font-family: Roboto-medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-weight: normal;
}

.view-one .description ul {
  list-style: none;
  padding: 0;
}

.view-one .description ul li {
  background: url("../image/site/check.png") 0 50% no-repeat;
  padding-left: 35px;
}

.view-one .schemas {
  text-align: center;
  color: #696969;
}
.view-one .div-passport {
  margin-bottom: 25px;
border: 3px solid #f3f4ef;
border-radius: 3px;
padding: 10px;
}
.view-one .item-passport {
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #f3f4ef;
  font-size: 14px;
  background: url("../image/site/passport_new.png") 5px 50% no-repeat;
  /*cursor: pointer;*/
  color: #777;
  text-align: right;
  padding-left: 40px;
}

.view-one .item-passport a {
  color: #777;
}
@media (max-width: 767px){
.view-one .sales-text {
  text-align: right;
}
}
.view-one .sales-text {
  position: absolute;
  margin-top: 15px;
}

.view-one .sales-text span {
  border-radius: 3px;
  padding: 5px 10px;
  background: #2eb72e;
  color: #FFFFFF;
}

.social-top {
  display:none;
  color: #888888;
  float: right;
  margin-top: -23px;
  left: 153px;
}

.social-top .social-likes {
  display: inline;
  display: inline-block;
  margin-left: 1px;
  margin-top: 0px;
}

.social-top .social-likes__button, .social-top .social-likes__icon {
  width: 24px !important;
  height: 24px !important;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}

.social-top .social-likes__widget {
  margin-left: 0;
  margin-right: 0;
}

.social-top .social-likes__icon {
  left: 0 !important;
}

.social-top .social-likes__icon .social-likes__icon_odnoklassniki {
  left: -2px !important;
}

.social-top .social-likes__widget_odnoklassniki {
  margin-left: -1px;
}

.social-top .social-likes__icon_vkontakte {
  top:0;
  left: 0;
  background: url("../image/site/vk-top.png") 0 50% no-repeat !important;
}

.social-top .social-likes__icon_facebook {
  background: url("../image/site/facebook-top.png") 0 50% no-repeat !important;
}

.social-top .social-likes__icon_odnoklassniki {
  background: url("../image/site/od-top.png") 0 50% no-repeat !important;
}

.social-top .social-likes__icon_vkontakte:hover {
  top:0;
  left: 0;
  background: url("../image/site/vk-top-hov.png") 0 50% no-repeat !important;
}

.social-top .social-likes__icon_facebook:hover {
  background: url("../image/site/facebook-top-hov.png") 0 50% no-repeat !important;
}

.social-top .social-likes__icon_odnoklassniki:hover {
  background: url("../image/site/od-top-hov.png") 0 50% no-repeat !important;
}

.catalogs-items-new .filter .btn-group.open .caret {
  border-bottom: 5px dashed;
  border-top: 0 none;
  content: "";
}


.panel-group .panel-heading:before,
.panel-group .panel-heading:after {
  position: relative;
  top: 5px;
  float: right;
  right: 5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 768px){
.panel-group .panel-heading:before {
  content: "\e114";
}
.panel-group .panel-heading:after {
  content: "\e113";
}
}
.panel-group .panel-heading.collapsed:after {
  display: none;
}
.panel-group .panel-heading:not(.collapsed):before {
  display: none;
}
.panel-group-continuous .panel {
  border-radius: 0;
}
.panel-group-continuous .panel + .panel {
  margin-top: 0;
  border-top: 1px solid #5a5c5b;
}

.distributors-view .panel {
  border: none;
  box-shadow: none;
}
.distributors-view .panel .panel-body {
  padding: 5px 0;
}
.distributors-view .title {
  cursor: pointer;
  overflow: hidden;
  margin-top: 0;
  border-radius: 0;
  background: #464749;
}
.distributors-view .title:hover {
  background: #58595b;
}
.distributors-view .title .adres{
  color: #03bf72;
  background: url(../image/site/marker.png) 0 0 no-repeat;
  padding-left: 35px;
}
@media (min-width: 992px){
.distributors-view .panel .panel-body .input-group {
  padding-top: 15px;
}
}
@media (max-width: 767px){
.distributors-view .panel .panel-body .input-group {
  padding-top: 15px;
}
}
.distributors-view .panel .panel-body .input-group .btn{
width: 100%;
margin-top: 15px;
background: #fddd0c;
color: #333;
}
.distributors-view .gm-style{
min-height: 300px;
}
