.general-cats>div.active, .general-cats>div:hover{
    padding-right: 20px;
}


.general-cats>div.after-active{
    display: none!important;
}

.general-cats>div.active{
    position: relative;
}
.general-cats>div.active:after{
    content: "";
    background: url("../image/site/triangle.png") no-repeat 0 0 transparent;
    width: 11px;
    height: 9px;
    position: absolute;
    bottom: -9px;
    right: 0;
    display: inline-block;
    vertical-align: middle;
}

.news .news-top {
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.news .news-top img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.news .news-content{
    top: -52px;
}

@media (min-width: 992px)
    .view-one .image .buy span {
        padding: 10px 30px;
    }
}
