a:focus {
    outline: none;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-thin;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Helvetic-bold;
    src: url(fonts/HelveticaNeueCyr-Bold.otf);
}

@font-face {
    font-family: Helvetic-light;
    src: url(fonts/HelveticaNeueCyr-Light.ttf);
}

@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-xs-1,
    .seven-cols .col-lg-1  {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

@media (min-width: 768px){
  .eith-cols .col-md-1,
  .eith-cols .col-sm-1,
  .eith-cols .col-xs-1,
  .eith-cols .col-lg-1  {
    width: 12.5%;
    *width: 12.5%;
  }
}
.fbelarus  {
    display: none;
}
.site-login .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: auto;
}

.general-partners img {
    max-width: 220px;
    width: 220px;
    max-height: 78px;
    border: 1px solid #cfcfcf;
}

.general-partners img:hover {
    border: 1px solid #999999;
}

.controller-max h1 {
    margin-top: 30px;
    font-size: 24px;
}

.controller-max .content-max img {
    max-width: 172px;
}

.controller-max .gray-line {
    border-top: 1px solid #ededed;
}

.controller-max .nav-tabs {
    border: none;
}

.controller-max li a {
    padding: 45px 15px 10px 2px;
    cursor: pointer !important;
    color: #000000 !important;
}

.controller-max .nav-tabs a, .controller-max .nav-tabs .active a,
.controller-max .nav-tabs a:hover, .controller-max .nav-tabs .active a:hover,
.controller-max .nav-tabs a:focus, .controller-max .nav-tabs .active a:focus{
    border: none;
    background: none;
}

.controller-max .content-max {
    margin-top: 30px;
}

.controller-max .nav-tabs li {
    text-align: left;
}

.controller-max .nav-tabs li {
    border-bottom: 2px solid #d3d3d3;
    margin-right: 40px;
}

.controller-max .nav-tabs li.active {
    border-bottom: 2px solid #06a35c;
}

@media (max-width: 767px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-xs-1,
    .seven-cols .col-lg-1  {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-xs-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-xs-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

html,
body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    font-size: 14px;
    line-height: 1.7;
    background: url("../image/site/texture.png") repeat;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -235px;
    padding: 0 0 235px;
    max-width: 1150px;
    border-width: 4px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(#e6e6e6), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(left, #e6e6e6, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(left, #e6e6e6, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(left, #e6e6e6, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to left, #e6e6e6, rgba(0, 0, 0, 0)) 1 100%;
    background-color: #ffffff;
}

@media (min-width: 992px){
    .wrap .full-container {
        padding: 0 95px;
    }
}

.wrap > .container {
    padding: 0 30px 20px;
}


@media (min-width: 992px){
    .full-container .container {
        max-width: 960px;
    }
}
@media (max-width: 992px){
    .full-container .container {
        width: 100%;
    }
}
.main-menu {
    margin-bottom: 36px;
    float: none;
    list-style-type: none;
    margin-top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-menu > div {
    float: none;
    height: 38px;
    background-color: #062a5c;
    line-height: 38px;
    color: #ffffff;
    text-align: center;
    width: 14.2%;
}
@media (max-width: 992px){
.main-menu {
display: block;
}
.main-menu > div {
    float: left;
    padding: 0 10px;
    width: auto;
} 
}
.main-menu > div a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100%;
}

.main-menu > div:hover, .main-menu > div.active {
    background-color: #06a35c;
}

.main-menu > div:hover a, .main-menu > div.active a {
    color: #000000;
}

.left-margin {
    margin-left: -15px;
}

div.file {
    position: relative;
    top: -6px;
}

div.file-info {
    padding-left: 5px;
}

div.file-info a {
    color: #000000;
    text-decoration: none;
}

div.file-info a:hover {
    color: #3d3f3a;
    text-decoration: underline;
}

.file-info .gray {
    color: #868686;
    font-size: 12px;
}

.title-menu {
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
@media (max-width: 992px){
.title-menu {
    font-size: 12px;
}
}
@media (max-width: 350px){
.title-menu {
    font-size: 11px;
}
}
.title-menu .gray {
    color: #5f5f5f;
}

.title-menu a {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1a63cd;
}

div.file, div.file-info {
    display: inline;
    display: inline-block;
}

div.search-button {
    height: 50px;
    background-color: #ebf2e3;
    line-height: 50px;
    text-align: center;
}

div.info-block {
    padding-bottom: 23px;
}

.info-block .title {
    font-size: 24px;
    margin-top: 5px;
}

.info-block .border {
    margin-right: 15px;
}

.info-block .border {
    border: 1px solid #bcbbbb;
    padding: 13px;
    border-radius: 15px;
    padding-left: 17px;
    margin-top: 8px;
    min-height: 90px;
}

.info-block .border.external {
    border: none;
    padding-top: 10px;
    padding-left: 25px;
    background-color: #ebf2e3;
}

.info-block .border.external a {
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14.14px;
    color: #0b0b0b;
    /*text-decoration: none;*/
    line-height: 29px;
}

.navbar-center {
    width: 100%;
    text-align: center;
}

.general-logo {
    box-shadow: 0 4px 2px -2px #ccc;

    padding-top: 15px;
    padding-bottom: 18px;
}
@media (max-width: 767px){
.general-logo {
    background: #fff;
    width: 100%;
    padding-bottom: 15px;
}
.general-logo-wrap {
    left: -4px;
    width: 100%;
    top: 0px;
    z-index: 3;
    position: fixed;
    padding-left: 8px;
}
}
.general-logo .flag {
    display: inline;
    display: inline-block;
    float: right;
}

.general-logo .flag .dropdown-header:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

.general-logo .flag .dropdown-header {
    padding: 3px;
    text-align: center;
}

.general-logo .flag .dropdown-menu {
    width: 50px;
    min-width: 50px;
}

.general-logo .flag button {
    padding: 5px 5px;
    top:5px;
    border-radius: 0;
    font-size: 14px;
}

a.logo img {
    width: 100%;
    margin-top: -20px;
    margin-left: -2px;
}

.padding-none {
    padding: 0;
}

.gray-buy {
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #666666;
    padding-top: 15px;
    padding-bottom: 25px;
}

.where-buy {
    font-size: 24px;
    padding-left: 0;
    padding-right: 0;
}

.distributors-view .show-map {
    color: #3d3e3f;
    text-decoration: underline;
}

#show-map .row > div {
    height: 400px;
}

#show-info .item-prices {
  width: 230px;
  position: relative;
  float: right;
  text-align: left;
  z-index: 100;
}

#show-info .price-name {
  font-size: 16px;
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #101010;
  padding: 0;
}

#show-info .price-cell .btn-group {
  float: none;
  margin-left: 14px;
  position: relative;
  top:-2px;
}

#show-info .price div.where {
  background-color: #f4dc36;
  color: #000000;
  padding: 10px;
  position: relative;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
  width:215px;
  margin-top: 7px;
}

#show-info div.where a {
  color: #000000;
  text-decoration: none;
}

#show-info .price div.where:hover {
  /*background-color: #43e7a5;*/
  background-color: #fbf0a4;
}

#show-info .left, #show-info .right {
    width: 41px;
    height: 65px;
    background: url("../image/site/left.png") no-repeat 50% 50%;
    display: block;
    position: absolute;
    left: 50%;
    /*top: 50%;*/
    top: 175px;
    margin-left: -430px;
    margin-top: -55px;
    cursor: pointer;
}

#show-info .left:hover {
    background: url("../image/site/left-hover.png") no-repeat 50% 50%;
}

#show-info .right {
    background: url("../image/site/right.png") no-repeat 50% 50%;
    margin-left: 390px;
}

#show-info .right:hover {
    background: url("../image/site/right-hover.png") no-repeat 50% 50%;
}

.distributors-view .center-block {
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}
.navbar-nav {
    padding: 0;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.show-close {
    padding-bottom: 15px;
}

.show-close span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.distributors-view .gm-style {
    position: relative !important;
    height: 210px !important;
    width: 100% !important;
}

.distributors-view .title {
    margin-top: 18px;
    height: 34px;
    color: #fefefe;
    font-size: 14px;
    padding-top: 6px;
    background: rgba(102,102,102,1);
    background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(76,76,76,1) 50%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(50%, rgba(76,76,76,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(76,76,76,1) 50%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(76,76,76,1) 50%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(76,76,76,1) 50%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(76,76,76,1) 50%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#131313', GradientType=0 );
}

.filters label {
    color: #868686;
    font-size: 14px;
}

.filters .btn-group button, .filters .btn-group {
    width: 100%;
}

.filters .btn-group .dropdown-menu {
    width: 100%;
    cursor: pointer;
}

.filters .btn-group .dropdown-menu li:hover {
    background-color: #dbdbdb;
}

.filters .btn-group button {
    text-align: left;
    border-radius: 0;
    background: #d3d3d3;
    font-size: 14px !important;
}

.filters .btn-group .caret {
    text-align: right;
    display: inline-block;
    float: right;
    margin-top: -10px;
}

.filters input, .filters select {
    border-radius: 0;
    color: #2a2a2a;
    background: #d3d3d3;
}

.filters select, .filters input:focus {
    border-color: #d3d3d3;
    box-shadow: none;
}

.filters select.green, .filters input.green {
    background-color: #06a35c;
}

.filters select.green:focus, .filters input.green:focus {
    border-color: #06a35c;
    box-shadow: none;
}

.filters {
    margin-bottom: 22px;
}

.fix-height .info {
    background: url(../image/site/marker.png) 0 0 no-repeat;
    /*min-height: 70px;*/
    margin-top: 5px;
    padding-left: 25px;
}

.fix-height .info.marker {

}

.info.marker.link-map {
    cursor: pointer;
    color: #337AB7;
}

.info.marker.link-map:hover{
    color: #23527C;
}

.fix-height .info.phone {
    min-height: 27px;
}

.info.phone {
    background: url(../image/site/tel.png) 0 0 no-repeat;
}

.info.mail {
    padding-left: 28px;
    background: url(../image/site/mail.png) 0 50% no-repeat;
}

.info.site {
    padding-left: 30px;
    background: url(../image/site/www.png) 0 0 no-repeat;
}

.filters .col-xs-4:last-child {
    padding-right: 0;
}

h1.general-title, h2.general-title {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    text-align: left;
    color: #213149;
    /*padding-left: 15px;*/
}
@media (max-width: 767px){
h1.general-title,h1.title,h1.none {
    background-color: #f3f3f3;
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px 15px;
}
}
div.general-catalog {
    margin-top: 5px;
}

.general-elements .element {
    text-justify: auto;
}

.pictures .picture-title {
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #06a35c;
    padding-bottom: 15px;
}

.picture-image {
    text-align: center;
}

.general-elements .element {
    margin-bottom: 25px;
}

.general-elements .element > .element:last-child {
  margin-bottom: 0;
}

.general-elements .text-name {
    font-size: 24px;
    padding-bottom: 30px;
}

.general-elements .text-desc {
    padding-bottom: 20px;
}

.general-elements .element.image img {
    max-width: 200px;
    max-height: 315px;
    width: 100%;
}

.general-elements .romb {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: url("../image/site/empty_romb.png") no-repeat 50% 50%;
}

.general-elements .item-title a {
  text-decoration: none;
  color: #333333;
}

.general-elements .item-title:hover a {
  text-decoration: underline;
}

.general-elements .item-title > div {
    font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: inline;
    display: inline-block;
}

.general-elements .item-text {
    margin-top: 10px;
    margin-left: 15px;
}

.general-elements .item-title > div:last-child {
    padding-left: 10px;
    display: inline;
}

.general-elements .item-title:hover .romb {
    background: url("../image/site/black_romb.png") no-repeat 50% 50%;
    color: #ffffff;
}

.general-elements .item-title:hover div:last-child {
    text-decoration: underline;
    cursor: pointer;
}

.breadcrumbs > div {
    display: inline;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.breadcrumbs > div > a {
    background: url("../image/site/breadcrumb.png") no-repeat 100% 50%;
    padding-right: 15px;
    padding-left: 5px;
    cursor: pointer;
}
.breadcrumbs > div a:hover {
    color: #676363;
    text-decoration: underline;
}

.with-image {
    background: url("../image/site/about.png") 100% 10% no-repeat;
    min-height: 342px;
}

.about-title .general-text {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #4f4f4f;
    padding-bottom: 25px;
}

.another-text {
    font-size: 14px;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
}

.another-text .right {
    text-align: right;
}

.catalogs-podcats .title {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
}

.catalogs-podcats .title a {
    text-decoration: none;
    color: #333333;
}

.catalogs-podcats .text {
    padding-top: 10px;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #868686;
}

.catalogs-podcats .image img {
    max-width: 105px;
    max-height: 250px;
}

.download .image img {
    width: 135px;
    max-width: 135px;
    max-height: 145px;
}

.download .catalog-file {
  padding-bottom: 30px;
}

.download .publication {
    padding-bottom: 30px;
}

.download i.item {
    display: inline-block;
    background: url("../image/site/public_file.png") no-repeat 1% 1%;
    width: 23px;
    height: 23px;
    position: relative;
    top: 5px;
}

.download .public span.gray {
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
}

.download .public a {
    padding-left: 10px;
}

.download .nav-tabs {
    border-bottom: none;
}

.download .nav-tabs {
    position: relative;
    top: 30px;
    padding-bottom: 60px;
}

.download .nav-tabs li a {
    border: 1px solid #999999;
    border-radius: 45px;
    margin-right: 8px;
}

.download .cat-download {
    padding-top: 27px;
}

.download .title-cat {
    font-size: 16px;
    font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.download .nav-tabs li.active a {
    border: none;
    color: #ffffff;
    background-color: #02bf74;
    border: 1px solid #02bf74;
}

.download .nav-tabs li.active a:focus {
    outline: none;
}

.download .title {
    padding-top: 15px;
    font-size: 16px;
    font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}

.download .description {
    color: #666666;
    padding-bottom: 27px;
}

.podcat-one:nth-child(odd) {
    clear: both;
}

.podcat-one {
    min-height: 290px;
}

.podcat-one .title a:hover {
    text-decoration: underline;
}

.breadcrumbs > div a {
  text-decoration: none;
  color: #333333;
}

.general-titles {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #062a5c;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
}

.general-titles .big-cats {
    display:inline-block;
}

.catalog-subcats .general-titles {
    text-align: center;
}

.catalog-subcats .text-block {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #0a0a0a;
  line-height: 24px;
  padding: 30px 45px 30px 90px;
  border-radius: 16px;
  margin-bottom: 45px;
  background: url("../image/site/cat-note.png") no-repeat 33px 33px #f3f4ef;
}

.catalog-general .general-titles > div a {
    color: #999999;
    text-decoration: none;
}

.catalog-general .general-titles > div:hover a, .catalog-general .general-titles > div.active a {
    color: #000000;
}

h2.center-block {
    text-align: center;
}
@media (max-width: 767px){
.catalog-general .general-titles > div:nth-child(2n+1) {
clear: left;
}
}
.catalog-general .general-titles > div {
    padding: 5px 7px;
    color: #999999;
    font-size: 14px;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-align: center;
}

.catalog-general .general-titles > div .image {
    min-height: 112px;
}

.catalog-general .general-titles > div .image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.catalog-general .general-titles > div:hover img, .catalog-general .general-titles > div.active img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

.breadcrumbs > div:last-child {
    background: none;
}

.block-item .town-name {
    font-size: 18px;
    margin-bottom: -10px;
    margin-top: 20px;
}

.certificat {
    min-height: 190px;
}

.certificat .image img {
    margin-top: 5px;
    max-width: 105px;
    max-height: 160px;
}

.certificat .text {
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
    padding-top: 27px;
    max-height: 110px;
    overflow: hidden;
}

.cooperation .coop-button {
    display: block;
    background-color: #f2f2f2;
    cursor: pointer;
    padding: 10px 15px;
    /*border-radius: 15px;*/
    font-size: 15px;
}

.price-cell .price-name {
    color: #000000;
    padding-left: 10px;
    line-height: 40px;
}

.price-cell .number {
    color: #65b485;
    font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.price-cell button {
    padding: 9px 6px;
    border-radius: 0;
    font-size: 14px;
}

.price-cell .btn-group .dropdown-menu li {
    cursor: pointer;
}

.price-cell .btn-group {
    float: right;
    font-size: 14px;
    margin-right: 25px;
}

.cooperation .select-type {
    padding-bottom: 35px;
}

.cooperation .form-group {
    display: block;
    line-height: 22px;
}

.cooperation .form-title span {
    font-size: 18px;
    margin-bottom: 17px;
    display: none;
}

.cooperation .control-label {
    font-size: 16px;
    text-align: left;
    font-weight: normal;
}
@media (min-width: 767px){
.cooperation .control-label {
    padding-left: 30px;
}
}
.cooperation .control-label.centered {
    line-height: 33px;
}

.cooperation .modal-content {
    /*overflow: hidden;*/
}

.cooperation .form-control {
    width: 100%;
    display: block;
}

.cooperation .form-inline {

}

.cooperation .form-title .active {
    display: block;
}

.cooperation .form div {
    margin-bottom: 18px;
}

.cooperation form .invalid {
    border: 1px solid #ff8888;
    /*background-color: #ff8888;*/
}

.cooperation .form input:focus, .cooperation .form textarea:focus {
    border: 1px solid #cccccc !important;
    box-shadow: none !important;
}

.cooperation .form .submit {
    background: none;
    border: 2px solid #06a35c;
    border-radius: 0;
    padding: 5px 30px;
}

.cooperation .note {
    background: url("../image/site/packet.png") no-repeat 0 0;
    margin-bottom: 30px !important;
    padding-left: 90px !important;
    text-align: left;
    color: #666666;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cooperation .note.packet span {
    display: none;
}

.cooperation .note.packet span.active {
    display: inline;
}

.cooperation .form input, .cooperation .form textarea {
    border-radius: 0;
}

.cooperation .coop-button:hover, .cooperation .coop-button.active {
    background-color: #aec0e9;
}

.cooperation .title {
    font-size: 18px;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 40px;
}

.cooperation .form {
    text-align: center;
}

.certificat .title {
    cursor: pointer;
    font-size: 16px;
}

.certificat .title, .certificat .text {
    padding-left: 15px;
}

.block-div .title-div {
    position: relative;

    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}

.big-padding-left {
    padding-left: 30px;
}

.distributors-index .modal-body {
    margin-top: -50px;
}

.distributors-index .modal-dialog {
    /*width: 660px;*/
}

.site-error {
    padding-top: 50px;
}

.site-error h1 {
    font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 72px;
}

.site-error .gray {
    display: block;
    margin-top: 54px;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #8a8a8a;
}

.site-error .links {
    display: block;
    font-size: 18px;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sub-item-desc {
    padding-bottom: 15px;
}

.tooltip {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    opacity: 1 !important;
    background-color: #ffffff;
    /*padding: 0 !important;*/
    /*color: #000000;*/
}

.tooltip {
    top: 0 !important;
    border: 1px solid #e1e1e1;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px 20px !important;
}

.tooltip-inner {
    padding: 0;
    color: #868686;
    background-color: #ffffff;
    text-align: left;
    font-size: 14px;
}

.tooltip-arrow {
    display: none !important;
}

.block-div .title-div .icon {
    position: absolute;
    top:50%;
    margin-left: 10px;
    margin-top: -13px;
}

.catalogs-with-sub .block-div {
    /*width: 25%;*/
    /*min-height: 260px;*/
}

.catalogs-items .item-one {
    border: 1px solid #b2b2b2;
    min-height: 330px;
    margin-bottom: 20px;
}
.catalogs-items .owl-item {
padding: 0 5px;
}
@media (min-width: 767px){
.catalogs-items .item-one {
}
}
.catalogs-items .item-one:hover {
    border: 1px solid #06a35c;
}

.item-one .title {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.item-one .desc {
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #868686;
    display: inline;
    /*max-width: 165px;*/
    max-height: 177px;
    padding-left: 7px;
}

.item-one .description a {
    cursor: pointer;
}

.shadow-text {
    max-height:250px;
    overflow:hidden;
    margin-top:-20px;
    cursor: pointer;
}
.shadow-text:before{
    content:"";
    display:block;
    height:20px;
    position:relative;
    top:165px;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
}

.podcats-element {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.podcats-element .elem .line {
    height: 4px;
    width: 100%;
    background-color: #d3d3d3;
    margin-top: 5px;
    margin-bottom: 10px;
    min-width: 63px;
}

.podcats-element .elem .line .inner {
    height: 100%;
    width: 63px;
    background-color: #06a35c;
}

.podcats-element .elem {
    display: inline-block;
}

.padding-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.item-one .price {
    position: absolute;
    bottom: 70px;
    height: 30px;
}
.show-more-wrap {
    padding: 0 20px 0 0;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.show-more {
    text-align: center;
    width: 100%;
    cursor: pointer;
    background-color: #062a5c;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 7px 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.show-more a {
    color: #FFFFFF;
    text-decoration: none;
}

.modal-header span.title {
    display: inline-block;
    max-width: 235px;
}

#show-info .modal-header {
  border: none;
}

.show-more:hover {
    /*background-color: #3060a3;*/
    background-color: #1762ca;
}
.item-one .price {
margin-left: -5px;
}
.item-one .price span.where {
    text-align: center;
    background-color: #06a35c;
    color: #000000;
    padding: 10px;
    right: 20px;
    width: 100%;
    position: absolute;
    line-height: 18px;
}
@media (max-width: 767px){
.item-one .price span.where {
}
}

.item-one .price span.where:hover {
    /*background-color: #43e7a5;*/
    background-color: #7dffcb;
}

.item-one .price a {
    color: #fff;
    text-decoration: none;
}

.item-one .price a:hover {
    /*text-decoration: underline;*/
}

.catalogs-with-sub .title-div a {
    text-decoration: none;
    color: #ffffff;
}

.modal-dialog {
    /*width:720px;*/
}

.modal-header {
    border-bottom: none;
}

.modal-header span.title {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #06a35c;
}

.properties .image {
    text-align: center;
}

.properties table tr td:first-child {
    width: 50%;
}

.properties .image img {
    max-width: 210px;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    padding-top: 26px;
}

.modal-dialog .item-passport {
    /*position: absolute;*/
    /*margin-left: 242px;*/
    margin-top: -60px;
    font-size: 14px;
    background: url("../image/site/passport.png") no-repeat;
    padding-left: 30px;
    line-height: 29px;
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 100;
  width: 230px;
}

.modal-header .close {
    width: 64px;
    height: 64px;
    background: #ebebeb;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    border-radius: 32px;
    position: relative;
    left: 80px;
    top:-23px;
    opacity: 1 !important;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-shadow: none;
}
.modal-header .close:hover {
    background-color: #868686;
    color: #ffffff;
}
@media (max-width: 767px){
.modal-header .close {
    left: 14px;
    z-index: 1;
    top:-23px;
    background: transparent;
}
}

.modal-dialog .item-passport .gray {
    color: #666666;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-dialog .item-passport a {
    color: #000000;
}

.modal-dialog .properties {
    margin-top: -10px;
    color: #0a0a0a;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 99;
    position: relative;
}

.modal-dialog .properties tr:first-child {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-dialog .properties .image img {
    max-height: 200px;
}

.modal-dialog .properties .image {
    margin-top: -125px;
}

.modal-dialog .properties table {
    width: 100%;
}

.modal-dialog .properties table tr td {
    padding-left: 15px;
    font-size: 13px;
}

.modal-dialog .properties table tr:first-child td {
    padding-left: 5px;
    font-size: 18px;
    padding-bottom: 14px;
}

.modal-dialog .properties .green {
    background-color: #06a35c;
}

.modal-dialog tr.columns td {
    padding: 2px 5px;
}

.modal-dialog tr.columns td:last-child {
    padding-left: 10px;
    text-align: right;
    padding-right: 10px;
}

/*.modal-dialog [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}*/

.catalogs-with-sub .title-div {
    cursor: pointer;
    height: 51px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background: rgba(102,102,102,1);
    background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(76,76,76,1) 50%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(50%, rgba(76,76,76,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(76,76,76,1) 50%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(76,76,76,1) 50%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(76,76,76,1) 50%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(76,76,76,1) 50%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#131313', GradientType=0 );
    margin-right: 2%;
}

.catalogs-with-sub .note {
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: #000000;
}

.catalogs-with-sub .child-subcat {
    padding-top: 5px;
    padding-right: 10px;
}

.catalogs-with-sub .child-subcat:first-child {
    padding-top: 10px;
}

.catalogs-with-sub .child-subcat:last-child {
    padding-bottom: 20px;
}

.link, .link a {
    color: #006f9e;
    text-decoration: none;
}

.link:hover, .link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.general-cats {
    background-color: #213149;
    line-height: 3px;
    margin-top: 10px;
    padding-top: 15px;
}

.general-cats > div:first-child {
    margin-top: 20px;
}

.padding-left {
    padding-left: 10px;
}

.g-link {
    color: #23527C;
    text-decoration: underline;
    cursor: pointer;
}

.general-cats > div:last-child {
    margin-bottom: 20px;
}

.general-cats > div {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 16px;
}
.general-cats .cat-level-1 {
    /*color: #06a35c;*/
    color: #e7e1ac;
    font-size: 16px;
}

.general-cats .cat-level-1 a {
    /*color: #06a35c;*/
    color: #e7e1ac;
    text-decoration: none;
}

.general-cats .cat-level-2 {
    padding-left: 40px;
    color: #ffffff;
    font-size: 14px;
}

.general-cats .cat-level-2 a {
    color: #ffffff;
    text-decoration: none;
}
@media (max-width: 992px){
.general-cats > div a{
    font-size: 14px;
}
}

.general-cats a {
    text-decoration: none;
}

.general-cats > div.active a, .general-cats > div:hover a {
    color: #000000;
}

.general-cats > div.active, .general-cats > div:hover {
    cursor: pointer;
    background-color: #06a35c;
    color: #000000;
    width: 103.5%;
}

.item-one span.new {
  float: right;
  /*margin-right: 5px;*/
  position: relative;
  top:10px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #0d0d0d;
  background-color: #f4db36;
  padding: 2px 5px;
}

/*@media (min-width: 768px){
.catalogs-items.slider {
  overflow: hidden;
  height: 340px;
}
}*/

.general-cats > div.after-active {
  width: 103.7%;
  background: url("../image/site/triangle.png") no-repeat 99.8% 0 transparent;
  position: absolute;
}

.filters input.success, .filters select.succcess {
    background: #06a35c;
}

.filters input, .filters select {
    border: none !important;
    box-shadow: none !important;
}

.general-title {
    font-size: 12px;
    font-family: Helvetic-light, Helvetica, Arial, sans-serif;
    color: #525252;
    margin-top: 0;
    line-height: 14px;
}

.top-banner {
    width: 1146px;
    margin-left: -96px;
    background-color: #373737;
    height: 110 px;
    display: block;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: -1.4px;
    font-family: Helvetic-bold, Helvetica, Arial, sans-serif;
}

.top-banner h1 {
  font-size: 29px;
  line-height: 39px;
  margin-top: 0;
}

h1.none {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 24px;
}

.top-banner .container {
    display: none;
    padding: 0 110px;
    padding-top: 13px;
    max-width: 1170px !important;
}

.top-banner .lightning {
    display: inline;
    display: inline-block;
    background: url("../image/site/lightning.png") 50% 50% no-repeat;
    width: 26px;
    height: 26px;
    position: relative;
    top:10px;
    left: 10px;
}

.top-banner .green {
    color: #06a35c;
}

.top-banner .banner {
    height: 106px;
    display: block;
    background: url("../image/site/banner.gif") 50% 50% no-repeat;
}
@media (min-width: 768px){
.bottom-banner {
    padding-top: 15px;
    padding-bottom: 15px;
}
}
.bottom-banner {
    margin-top: 25px;
    color: #000000;
    display: block;
    text-align: left;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
      background-color: #f3f3f3;
}
@media (min-width: 992px){
.bottom-banner {
    clear: left;
    width: 1146px;
    margin-left: -110px;
}
}
.bottom-banner > div {
}

.bottom-banner .text {
    padding: 15px;
}

@media (min-width: 768px){

    .bottom-banner .options .text {
     padding-left: 160px;
    }

    .bottom-banner .find .text {
     padding-left: 150px;
    }

    .bottom-banner .options {
      background: url("../image/site/general-find.png") no-repeat  35px 5px;
    }

    .bottom-banner .find {
      border-left: 1px solid #d7d7d7;
      background: url("../image/site/general-options.png") no-repeat scroll 35px -12px;
      margin-left: 25px;
    }
}

@media (max-width: 767px){

    .bottom-banner .options .text {
    }
    .bottom-banner .find {
        border-top: 1px solid #d7d7d7;
    background-color: #f7f7f9;
    }
}

.bottom-banner .general-button {
  padding: 10px 10px;
  width: 157px;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  background-color: #06a35c;
  color: #fff;
  border-radius: 25px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  transition: all 0.2s ease-out 0s;
}
@media (max-width: 768px){
.bottom-banner .general-button {
    margin: auto;
}
}
.bottom-banner a {
    text-decoration: none;
    color: #000000;
}

.bottom-banner .general-button:hover {
    background-color: #45E4A4;
    /*color: #ffffff;*/
}

.bottom-banner .banner {
    height: 137px;
    display: block;
    background: url("../image/site/bottom-banner.png") 50% 50% no-repeat;
}

.center-align {
    text-align: center;
}

.evr-this {
    padding-bottom: 30px;
    padding-top: 50px;
    font-size: 24px;
    color: #213149;
}

.new-product {
  padding-top: 30px;
}
@media (max-width: 992px){
.new-product {
  padding-top: 0;
}
}
.evr-this-desc .image {
    min-height: 100px;
}

.evr-this-desc .title {
    font-size: 16px;
    color: #213149;
    padding-bottom: 10px;
}

.evr-this-desc .desc {
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #868686;
}

.navbar-center > li {
    min-width: 14%;
    float: none;
    display: inline-block;
    background-color: #062a5c;
    /*border-right: 1px solid #456186;*/
    margin-left: -5px;
}

.navbar {
    margin-bottom: 28px;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.navbar-center > li:first-child {
    /*border-left: 1px solid #456186;*/
}

.navbar-center > li a {
    color: #ffffff;
}

.navbar-center > li.active {
    background-color: #06a35c;
}

.navbar-center > li.active a {
    color: #000000;
}

.navbar-center > li:hover a, .navbar-center > li a:focus {
    background-color: #06a35c;
    color: #ffffff;
}

.footer {
    height: 235px;
    padding-top: 20px;
}

.footer .container {
    max-width: 1148px;
    width: 100%;
    background-color: #f2f2f2;
}

.footer .container .bottom-line {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 21px;
}

@media (min-width: 992px){
    .bottom-container {
        padding: 0 95px;
    }
}

.bottom-container > div {
    padding-top: 30px;
}

.bottom-container .info-block {
    color: #152778;
    font-size: 16px;
    font-family: Roboto-medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 9px !important;
    padding-top: 9px;
}

.bottom-container .bottom-text {
    padding-top: 25px;
    color: #666666;
}

.bottom-container .developer {
    padding-top: 20px;
    text-align: left;
}

.cat-desc {
    margin-bottom: 10px;
}

.sub-item-desc .title, .cat-desc .title {
    font-size: 18px;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;   
    color: #000000;
    outline: none;
}

.cat-desc .title span {
    cursor: pointer;
    border-bottom: 1px dashed #b4b4b4;
}

.cat-desc .title span:hover {
    color: #06a35c;
    border-color: #06a35c;
}


.sub-item-desc .title {
    margin-bottom: 8px;
}

.cat-desc .desc, .sub-item-desc {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #666666;
    font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.bottom-container .developer a {
    color: #1e99d3 !important;
}

.bottom-container .text-all {
    font-size: 12px;
}

.bottom-container .bottom-text.evroavt {
    padding-top: 10px;
    color: #000000;
}

.bottom-container .bottom-text a {
    color: #666666;
    text-decoration: none;
}

.bottom-container .bottom-text a:hover {
    text-decoration: underline;
}

.bottom-container .col-md-4 {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 992px) {
    .bottom-container .col-md-4:nth-child(2) {
        padding-left: 0;
    }

    .bottom-container .col-md-4:nth-child(3) {
        padding-left: 0;
    }
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.modal-backdrop {
    background-color: #4C4C4C;
}

.modal-backdrop.in {
    opacity: 0.83;
}

.flag-panel {
  color: #868686;
  text-align: center;
  margin-bottom: 10px;
}

.flag-panel .flag {
  padding: 10px 15px;
  background: url("../image/site/rus.png") no-repeat 50% 50%;
  display: inline;
  display: inline-block;
  width: 23px;
  height: 15px;
  border: 3px solid #ffffff;
}

.flag-panel .flag.geo {
  background: url("../image/site/geo.png") no-repeat 50% 50%;
}

.flag-panel .flag.eng {
  background: url("../image/site/eng.png") no-repeat 50% 50%;
}

.flag-panel .flag.abh {
  background: url("../image/site/abh.png") no-repeat 50% 50%;
}

.flag-panel > div.active .flag, .flag-panel > div:hover .flag {
  border: 3px solid #00e086;
  cursor: pointer;
}

#toTop {
    background: url("../image/site/to-top.png") no-repeat 50% 50%;
    width:58px;
    height: 58px;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    cursor:pointer;
    display:none;
    left: 50%;
    margin-left: 600px;
}

.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus {
  outline: none; }

.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-nav-prev,.flex-nav-next {
  display: inline;
  display: inline-block;
}

/*.catalogs-items.slider > div {
  float: none;
  display: inline;
  display: inline-block;
}*/

@media (min-width: 768px){
/*.slide-elements {
  width: 999999px;
}*/

/*.slide-elements > div {
  margin-right: 23px !important;
  width: 300px !important;
}*/
}

.flex-direction-nav span.btton {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid #7b7b7b;
  color: #7b7b7b;
  display: inline-block;
  height: 34px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-out 0s;
  width: 34px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 30px;
}

.flex-direction-nav span.btton:hover {
  background: #00e086 none repeat scroll 0 0;
  border: 2px solid #06a35c;
  color: #ffffff;
}

.flex-direction-nav {
  position: relative;
  z-index: 100;
  float: right;
  right: 0;
  z-index: 0;
  margin-top: -45px;
  margin-right: 5px;
}

.news .news-bottom {
  padding: 29px;
  height: 180px;
  background-color: #f1f1f1;
}

.news .news-top {
  background-color: #959595;
  height: 180px;
}

.news .news-content {
  line-height: 21px;
  position: relative;
  top:-84px;
  background-color: #ffffff;
  padding: 15px;
  padding-top: 10px;
  height: 180px;
}

.news .news-title a {
  color: #000000;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.news .news-anons {
  margin-top: 15px;
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6b6b6b;
}

.news .news-more {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 22px;
  margin-bottom: 15px;
}

.news .news-date {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 767px){
.news .news-more {
    bottom: 0;
    padding-left: 15px;
    left: 0;
}
.news .news-date {
    bottom: 20px;
}
}
.news .more-news {
  margin-top: 50px;
  text-align: center;
}

.news .more-news a {
  text-decoration: none;
}

.news span.more-news {
  padding: 15px 40px;
  background-color: #06a35c;
  color: #ffffff;
  font-family: Roboto-medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container .line {
  height: 2px;
  background: url("../image/site/line.png");
  margin-top: 80px;
}

.news-years .center-block {
  text-align: center;
}

.news-years {
  padding-bottom: 40px;
}

.news-years .year {
  border:1px solid #999999;
  border-radius: 25px;
  padding: 12px 25px;
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
}

.news-years a {
  color: #000000;
  text-decoration: none;
}

.news-years .year:hover, .news-years .year.active {
  border:1px solid #02bf74;
  border-radius: 25px;
  /*padding: 12px 30px;*/
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #02bf74;
}

.news-view .news-title a {
  font-size: 16px;
  color: #000000;
}

.news-view .news-anons {
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #6b6b6b;
  margin-top: 38px;
}

.news-view .news-date {
  font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.news-view .news-more {
  float: right;
  padding-bottom: 50px;
  padding-top: 50px;
}

.block-item .news-view > div {
  margin-top: 20px;
  border-bottom: 1px solid #d7d7d7;
}


.block-item:last-of-type .news-view > div {
  border-bottom: none;
}

.news-view .first-block img {
  margin-top: 35px;
  margin-left: 25px;
}

.list-view .pagination {
  float: right;
}

.list-view .pagination a {
  border: solid 3px #ffffff;
  border-radius: 0;
  background: none;
  color: #000000;
  margin-right: 5px;
}

.list-view .pagination .active a, .list-view .pagination a:focus,  .list-view .pagination a:hover{
  border: solid 3px #b7b7b7;
  border-radius: 0;
  background: none;
  color: #000000;
}

.news-one h2 a {
  color: #000000;
}

.news-one .news-date {
  font-family: Roboto-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.news-one .news-title {
  margin-top: 25px;
  font-size: 18px;
  margin-bottom: 30px;
}

.news-one .news-text {
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #6b6b6b;
}

.another-news .another-title {
  font-family: Roboto-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

@media (min-width: 768px){
.another-news .title {
  padding-left: 26px;
}
}


.another-news {
  margin-top: 30px;
}

.social-likes__icon_facebook, .social-likes__icon_twitter, .social-likes__icon_vkontakte {
  top:0;
  width: 33px;
  height: 33px;
  background: url("../image/site/f.png") no-repeat 0 0;
}

.social-likes__icon_twitter {
  top:-1px;
  background: url("../image/site/t.png") no-repeat 0 0;
}

.social-likes__icon_vkontakte {
  top:-1px;
  background: url("../image/site/v.png") no-repeat 0 0;
}

.social-likes__icon_facebook::before,  .social-likes__icon_twitter::before, .social-likes__icon_vkontakte::before, .social-likes__icon_odnoklassniki::before {
  content: "";
}

.news-likes {
  padding-top: 50px;
  float: left;
  margin-left: 5px;
}

.social-likes__button {
  width: 33px;
  height: 33px;
  left: 0;
  right: 0;
  margin: 0;
}

.social-likes__icon_vkontakte {
  left: -1px;
}

.social-likes__widget {
  left: 0;
  right: 0;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}

.slide-elements .price .where {
  right: 17px !important;
}

.top-menu-wrapper {
    background: #062a5c;
}
@media (min-width: 992px){
    .top-menu-wrapper {
        margin: 0px -99px 0 -95px;
    }
}
@media (max-width: 992px){
    .top-menu-wrapper {
        font-size: 13px;
    }
}
/*
.news-like {
  margin-left: 5px;
}*/


.side-block-fixed {
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -190px;
    z-index: 1075;
}

.right-item {
    transition: all ease-out 0.5s;
    position: relative;
    width: 170px;
    right: -100px;
}

.right-item.active {
	right: 0;
}

.right-item.active.gray {
	right: 0;
	border-left: 5px solid #d2d2d2;
}

.right-item.active.green {
    right: 0;
    border-left: 5px solid #00975a;
}

.right-item.active.orange {
    right: 0;
    border-left: 5px solid #bdaa2c;
}

.right-item:after {
    content: ' ';
    display: table;
    width: 100%;
}

.right-item a {
    color: #000;
}

.right-item span {
    width: 90px;
    float: right;
    padding: 11px 0;
}

.right-item.orange {
    background: #f4db36;
}

.right-item.green {
    background: #00e086;
}

.right-item.gray {
    border: 1px solid #d2d2d2;
    border-right: 0;
    background: #fff;
    margin-bottom: -1px; 
}

.right-item.orange .icon-click {
   background: url('/image/icons/zoom.png') no-repeat center center; 
}

.right-item.green .icon-click {
	background: url('/image/icons/settings.png') no-repeat center center; 
}

.right-item.gray.proxi .icon-click {
   background: url('/image/icons/proxi.png') no-repeat center center; 
}

.right-item.gray.fhome .icon-click {
   background: url('/image/icons/fhome.png') no-repeat center center; 
}

.right-item.gray.fbelarus .icon-click {
   background: url('/image/icons/fbelarus.png') no-repeat center center; 
}
.right-item.gray.youtube .icon-click {
   background: url('/image/icons/youtube.png') no-repeat center center; 
}
.right-item.gray.forum .icon-click {
   background: url('/image/icons/forum.png') no-repeat center center; 
}
.gray + .orange {
    margin-top: 30px;
}

.icon-click {
    cursor: pointer;
    width: 70px;
    height: 70px; 
    float: left;
}

.all-products-file img {
    margin-right: 5px;
}

.all-products-file a {
    color: #000;
}

.all-products-file .gray {
    margin-left: 5px;
    color: #868686;
}

.all-products-file {
    margin-top: 5px;
}

.modal-backdrop {
    z-index: 1080;
}

.modal {
    z-index: 1085;
}

.slide-elements .cat-link {
    font-family: Arial;
    font-size: 12.82px;
    margin-bottom: 5px;
}

.slide-elements .item-one span.new {
}

.slide-elements .item-one .title {
    margin-bottom: -3px;
}

.slide-elements .item-one .desc {
    max-height: 165px;
}

.slide-elements .shadow-text::before {
    top:150px;
}

.navbar-toggle .icon-bar {
    background: #888;
}
.mobilenav button{
    position: absolute;
}
.mobilenav ul li a{
    background: #062a5c;
    color: #fff;
}
.mobilenav ul li.active a,.mobilenav ul li:hover a{
    background: #06a35c;
    color: #000;
}
@media (max-width: 768px){
.news-text img {
    max-width: 100%!important;
    height: auto!important;
}
.h1, h1 {
    font-size: 26px;
    margin: 0;
}
.breadcrumbs > div {
    font-size: 13px;
}
.col-sm-4.center-align .col-xs-12.desc {
    margin-bottom: 30px;
}
.developer {font-size: 13px;}
}
.pagination > li:first-child > span, .pagination > li:last-child > span {border: none;}

.top-search-btn {
    margin-top: 5px;
    background-image: url('../image/icons/search.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 34px;
    height: 34px;
    border-radius: 0;
}
.top-search-btn:active{
    background-image: url('../image/icons/search.png');
}
.searchform{
    position: absolute;
    left: -550px;
    width: 600px;
}
.searchform {
    z-index: 1;
    padding: 5px 0 5px 5px;
    background: #fff;
}
.searchform-m {
    padding: 5px 5px 5px 5px;
    position: relative;
    left: 0;
    width: 100%;
}
.searchform input.form-control{
    border: 2px solid #06a35c;
    border-radius: 0;
}
.searchform input:focus{
    box-shadow: none;
}
.searchform input[type="submit"]{
    background: url('../image/icons/search.png');
    background-color: #06a35c;
    border: none;
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 30px;
    width: 90px;
    height: 34px;
    position: absolute;    
    top: 5px;
    right: 0;

}
.searchform-m input[type="submit"]{
    right: 5px;
}
}
@media (max-width: 425){
.similar_products .item-one {
    margin-right: 0px!important; 
}
.item-one {
     margin: 0!important;
}
.price-cell .btn-group {
     margin-right: 0px!important;
}
.view-one .price-cell .btn-group {
    padding-left: 10px!important;
}
}